@import url(http://fonts.googleapis.com/css?family=Roboto)
@import url(http://fonts.googleapis.com/css?family=Fjalla+One)

$header-font = 'Fjalla One', sans-serif
$content-font = 'Roboto', sans-serif

$main-font-size = 48px

$main-text-color = rgb(255, 255, 255)
$main-background-color = rgb(255, 151, 0)
$secondary-background-color = rgb(255, 191, 0)

$background-pulse = background-pulse 15s ease infinite

@keyframes background-pulse {
  0%   { background-color: $secondary-background-color }
  50%  { background-color: $main-background-color }
  100% { background-color: $secondary-background-color }
}

body
  background-color: $main-background-color
  animation: $background-pulse
  -webkit-animation: $background-pulse
  color: $main-text-color
  font-family: $content-font
  font-size: $main-font-size
  text-align: center

h1, h2, h3, h4
  font-family: $header-font

input
  background-color: transparent
  border: none
  border-bottom: 1px solid #fff
  padding: 0px 5px
  font-size: inherit
  color: inherit
  text-align: inherit
