@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("http://fonts.googleapis.com/css?family=FjallaOne");
body {
  background-color: #ff9700;
  animation: background-pulse 15s ease infinite;
  -webkit-animation: background-pulse 15s ease infinite;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: 'Fjalla One', sans-serif;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0px 5px;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
}
@-moz-keyframes background-pulse {
  0% {
    background-color: #ffbf00;
  }

  50% {
    background-color: #ff9700;
  }

  100% {
    background-color: #ffbf00;
  }
}
@-webkit-keyframes background-pulse {
  0% {
    background-color: #ffbf00;
  }

  50% {
    background-color: #ff9700;
  }

  100% {
    background-color: #ffbf00;
  }
}
@-o-keyframes background-pulse {
  0% {
    background-color: #ffbf00;
  }

  50% {
    background-color: #ff9700;
  }

  100% {
    background-color: #ffbf00;
  }
}
@-ms-keyframes background-pulse {
  0% {
    background-color: #ffbf00;
  }

  50% {
    background-color: #ff9700;
  }

  100% {
    background-color: #ffbf00;
  }
}
@keyframes background-pulse {
  0% {
    background-color: #ffbf00;
  }

  50% {
    background-color: #ff9700;
  }

  100% {
    background-color: #ffbf00;
  }
}
